<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta  Content-Security-Policy: img-src 'self' ;> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <h1>Signup Form</h1>
    <form method="POST" action="/user">
        <label for="name">Full Name</label>
        <input type="text" name="name" id="name">
        <label for="email">email</label>
        <input type="email" name="email" id="email">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">

        <button type="submit">Signup</button>
    </form>
</body>
</html>